html{
    scroll-behavior: smooth;
    --secondColor:#35302E;
    --mainColor:#ff0047;
}
*{
    padding: 0;
    margin: 0;
    background-size: cover;
    box-sizing: border-box;
    text-transform: capitalize;
}
body{
  background-color:#090809;
  font-family: 'Open Sans', sans-ser;
  color: #fff; 

}   
a{
    text-decoration: none;
    color: white;
    transition: color 0.5s ;
}
img {
    width: 100%;
    height: 100%; 
}
.flex{
    display: flex;
}
.center{
    text-align: center;
}
.container{
    width: 80%;
    margin: auto;
}
.spical-title{
    font-size: 2rem;
    font-weight: bold;
}
h1{
    font-size: 3.5rem;
    font-weight: bold;
}
h3{
    font-size: 1.5rem;
    font-weight: bold;
}
p{
    padding: 20px 0;
}
.about-me ,.my-services , .my-projects , .contact-me{
    padding: 40px 10px 20px ;
}
.btn{
    padding: 14px 60px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--mainColor);
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.5s
}
.btn:hover{
 background-color:#a30d29;
}

/* start navbar  */

nav{
    padding: 20px;
    justify-content: space-between;
}
.logo{
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-transform: lowercase;
}
.logo > span{
    color: var(--mainColor);
}
.links-container{
    list-style: none;
    justify-content: space-between;
    align-items: center;
    gap: 0 20px;
}
.links-container a:hover{
    color: var(--mainColor);
}
.bar{
   color: white;
   cursor: pointer;
   display: block;
   position: relative;
   display: none;
}

/* end navbar  */

/* start header  */

header{
    height: 100vh;
    position: relative;
    background-image: url("../images2/laptop.jpg");
    background-attachment: fixed;
    background-position: center;
}
.my-information-container{
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50% ,-50%);
    line-height: 1.6;
}
.my-information-container p {
    width: 50%;
}

.my-information-container span {
    color: var(--mainColor);
    font-weight: bold
}

/* end header  */

/* start about me  */
.about-me > div{
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}
.about-me  figure{
    width: 35%;
}
.about-me  figure img {
    border-radius: 15px;
}
.about-me-information{
    width: 60%;
    flex-direction: column;
    justify-content: space-between;
}

.about-me-information > P{
    padding: 10px 5px ;
    line-height: 1.4;
}
.my-skills{
    padding: 10px ;
}
.about-me-information ul {
    padding: 10px 0;
    list-style: none;
}
.about-me-information ul li {
    padding: 5px;
}
.my-skills h3{
    position: relative;
    padding: 5px 0 ;
    margin: 10px 0;
}
.my-skills h3::after{
    content: "";
    width:50px;
    position: absolute;
    top: 100%;
    left: 0;
    border: 2px solid var(--mainColor);
}
/* end about me  */



/* start my skills  */

.services-container{
    justify-content: space-between;
    padding: 40px 0;
    flex-wrap: wrap;
    gap: 20px 0;
}
.service{
    padding: 20px;
    width: 30%;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 100;
    background-color: #232223;
    transition: background-color 0.5s ,transform 0.5s;
}
.service > i{
    padding: 10px 0;
}
.service > h3 {
    font-weight: 500;
    margin-bottom: 15px;
    padding: 10px 0;
}

.service:hover{
    background-color: var(--mainColor);
    transform: translateY(-10px);
}
/* end my skills */



/* start projects */

.prjects-container{
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 0;
    gap: 20px;
}
.project{
    background-color: var(--secondColor);
    width: 30%;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all .5s ease-in-out;
    position: relative;
    overflow: hidden;
}
.overlay-project{
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background: linear-gradient(rgba(0,0,0,0.6) ,#ff0047);
    padding: 0 40px;
    transition: height 0.5s;
    overflow: hidden;
}
.project:hover .overlay-project{
    height: 100%;
}

.project p {
    padding: 0 10px 10px 10px ;
    text-align: left;
}
.project h3{
    padding: 10px ;
}
.project h3 + p{
    padding: 10px;
    text-align: left;
    text-transform: lowercase;
}
.project-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.project-img > img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
}
.project:hover img{
    transform: scale(1.1);
}
.overlay-project h3 {
    padding: 0;
    text-align: left;
}
.overlay-project a {
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    color:var(--mainColor);
}
.overlay-project a:hover{
    color: white;
    background-color: var(--secondColor);
}
.project .paragraphs{
    padding: 10px ;
    background-color: var(--secondColor);
    border-radius: 4px ;
    overflow: auto;
    height: 150px;
}
.project .paragraphs p {
    text-align: left;
    padding: 5px 0;
}
.project p {
    text-transform: lowercase;
}
.project .languages{
    padding-bottom: 10px;
}
.languages >span {
    margin: 0 10px;
    color: #58a6f7;
    font-weight: bold;
}
 .languages >span:nth-child(2){
    color: #6fd74d;
}
 .languages >span:nth-child(3){
    color: #ff70c1;
}

.see-more {
    display: block;
    margin: auto;
}

/* end projects  */



/* start contact me  */
.contact-me{
    justify-content: space-between;
    background-color: var(--secondColor);
}
.contact-me .container > div {
    padding: 40px 0;
    flex-wrap: wrap;
}
.contact-me  form {
    width: 60%;
}
.contact-me form > div {
    margin: 15px 0;
}
.contact-me  form label , .contact-me  form input{
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
}
.contact-me  form input{
    border-radius: 4px;
    box-sizing: border-box;
}
.contact-me  form textarea{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}

.social-media-container{
    width: 40%;
    flex-direction: column;
}
.social-media-container > div {
    padding: 10px;
    margin: 5px 0 
}

.social-media-container > div {
    display: flex;
    align-items: center;
    gap: 20px;
}
.social-media-container h3 {
    font-size: 15px;
}
 
.icon-container:hover {
    background-color: var(--secondColor);
}
.other-social-media  i {
    cursor: pointer;
    color: #fff;
    transition: transform 0.5s , color 0.5s ;
}
.other-social-media  i:hover{
    color: var(--mainColor);
    transform: translateY(-5px);
}

/* end contact me  */

/* start footer */
footer > p {
    padding: 20px;
    background-color: var(--thirdColor);
    color: white;
}
/* end footer  */

/* start media query  */

@media (max-width: 575.98px){

    .spical-title{
        font-size: 2rem;

    }
    h3{
        font-size: 1.5rem;
    }
    /* header  */
    #checked:checked ~ .links-container{
        display: block;
    }
    .bar{
        display: block;
    }
    .bar > i {
        line-height: 2;
    }
    .links-container{
        position: absolute;
        right: 0;
        top: 15%;
        padding: 20px;
        width: 100%;
        background-color: var(--secondColor);
        display: none;
        z-index: 2;
    }
    .links-container li{
        padding: 10px;
        text-align: center;
    }
    .my-information-container {
        justify-content: center;
    }
    .my-information-container h1{
        font-size: 30px;
    }
    .myname{
        font-size: 60px;
    }
    .my-introduction span{
        font-size: 45px;
    }
    .my-information-container p{
        width: 100%;
    }

    /* about me  */

    .about-me > div {
        padding: 0px;
    }
    .about-me .about-me-information{
        width: 100%;
        padding: 40px 10px;
        background-color: var(--secondColor);
        border-radius: 15px;
    }
    .my-skills h3{
        position: relative;
        padding: 5px 0 ;
    }
    .my-skills h3::after{
        content: "";
        color: white;
        position: absolute;
        top: 100%;
        left: 0;
        border: 2px solid var(--mainColor);
    }
    .about-me > div > figure{
        width: 100%;
        margin-bottom: 20px;
    }
    .about-me-information > P{
        color: white;
        font-size: 14px;
        line-height: 30px;
        margin-top: 20px;
    }
    .about-me .btn{
        display: block;
        width: 100%;
    }

    /* projects  */

    .project{
        width: 100%;
    }
    .project .languages >span{
       margin: 2px;
    }


    /* services  */
    .service{
        width: 100%;
    }

    /* contact me  */

    .contact-me  form{
        width: 100%;
    }
    .social-media-container{
        width: 100%;
    }
    /* footer */
    footer > p{
        font-size: 12px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    .myname{
        font-size: 60px;
    }
    .spical-title{
        font-size: 3em;

    }
    /* header  */
    #checked:checked ~ .links-container{
        display: block;
    }
    .bar{
        display: block;
    }
    .links-container{
        position: absolute;
        right: 0;
        top: 10%;
        padding: 20px;
        width: 100%;
        background-color: var(--secondColor);
        display: none;
    }
    .links-container li{
        padding: 20px;
        text-align: center;
    }
    .my-information-container {
        justify-content: center;
    }
    .my-information-container h1{
        font-size: 45px;
    }
    .my-introduction span{
        font-size: 45px;
    }

    /* about me  */

    .about-me .about-me-information{
        width: 100%;
        padding: 40px 20px;
        /* padding: 10px ; */
        background-color: var(--secondColor);
        border-radius: 15px;
    }
    .my-skills h3{
        position: relative;
        padding: 5px 0 ;
    }
    .my-skills h3::after{
        content: "";
        color: white;
        width: 20%;
        position: absolute;
        top: 100%;
        left: 0;
        border: 2px solid var(--mainColor);
    }
    .about-me > div > figure{
        width: 100%;
        margin-bottom: 20px;
    }
    .about-me-information > P{
        color: white;
        font-size: 14px;
        line-height: 30px;
        margin-top: 20px;
    }
    .about-me .btn{
        display: block;
        width: 100%;
    }

    /* projects  */

    .project{
        width: 100%;
    }


    /* services  */
    .service{
        width: 100%;
    }

    /* contact me  */

    .contact-me  form{
        width: 100%;
    }
    .social-media-container{
        width: 100%;
    }
    /* footer */
    footer > p{
        font-size: 12px;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    .myname{
        font-size: 60px;
    }
    .spical-title{
        font-size: 3em;

    }
    /* header  */
    #checked:checked ~ .links-container{
        display: block;
    }
    .bar{
        display: block;
    }
    .links-container{
        position: absolute;
        right: 0;
        top: 10%;
        padding: 20px;
        width: 100%;
        background-color: var(--secondColor);
        display: none;
    }
    .links-container li{
        padding: 20px;
        text-align: center;
    }
    .my-information-container {
        justify-content: center;
    }
    .my-information-container h1{
        font-size: 45px;
    }
    .my-introduction span{
        font-size: 45px;
    }


    /* about me  */

    .about-me .about-me-information{
        width: 100%;
        padding: 40px 20px;
        background-color: var(--secondColor);
        border-radius: 15px;
    }
    .my-skills h3{
        position: relative;
        padding: 5px 0 ;
    }
    .my-skills h3::after{
        content: "";
        color: white;
        width: 20%;
        position: absolute;
        top: 100%;
        left: 0;
        border: 2px solid var(--mainColor);
    }
    .about-me > div > figure{
        width: 100%;
        margin-bottom: 20px;
    }
    .about-me-information > P{
        color: white;
        font-size: 14px;
        line-height: 30px;
        margin-top: 20px;
    }
    .about-me .btn{
        display: block;
        width: 100%;
    }

    /* projects  */

    .project{
        width: 100%;
    }


    /* services  */
    .service{
        width: 100%;
    }

    /* contact me  */

    .contact-me  form{
        width: 100%;
    }
    .social-media-container{
        width: 100%;
    }
    /* footer */
    footer > p{
        font-size: 12px;
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) { 
    .myname{
        font-size: 60px;
    }
    .spical-title{
        font-size: 3em;

    }
    /* header  */
    #checked:checked ~ .links-container{
        display: block;
    }
    .bar{
        display: block;
    }
    .links-container{
        position: absolute;
        right: 0;
        top: 10%;
        padding: 20px;
        width: 100%;
        background-color: var(--secondColor);
        display: none;
    }
    .links-container li{
        padding: 20px;
        text-align: center;
    }
    .my-information-container {
        justify-content: center;
    }
    .my-information-container h1{
        font-size: 45px;
    }
    .my-introduction span{
        font-size: 45px;
    }
    .my-information-container p{
        width: 100%;
    }

    /* about me  */

    .about-me .about-me-information{
        width: 100%;
        padding: 40px 20px;
        background-color: var(--secondColor);
        border-radius: 15px;
    }
    .my-skills h3{
        position: relative;
        padding: 5px 0 ;
    }
    .my-skills h3::after{
        content: "";
        color: white;
        width: 20%;
        position: absolute;
        top: 100%;
        left: 0;
        border: 2px solid var(--mainColor);
    }
    .about-me > div > figure{
        width: 100%;
        margin-bottom: 20px;
    }
    .about-me-information > P{
        color: white;
        font-size: 14px;
        line-height: 30px;
        margin-top: 20px;
    }
    .about-me .btn{
        display: block;
        width: 100%;
    }

    /* projects  */

    .project{
        width: 100%;
    }


    /* services  */
    .service{
        width: 100%;
    }

    /* contact me  */

    .contact-me  form{
        width: 100%;
    }
    .social-media-container{
        width: 100%;
    }
    /* footer */
    footer > p{
        font-size: 12px;
    }
}


@media (min-width: 1200px) { 
  
 }

